.btn {
  padding: $btn-padding-y $btn-padding-x;
  font-weight: $font-weight-semibold;
  background: transparent;
  border: 0;
  cursor: $btn-cursor;

  &.primary {
    background-color: $color-primary;
    color: $color-primary-text;
    border: 1px solid $color-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-primary-hover;
    }
  }

  &.secondary {
    background-color: $color-secondary-bg;
    color: $color-secondary-text;
    border: 1px solid $color-primary;
    &:hover,
    &:focus,
    &:active {
      background-color: $color-secondary-hover;
    }
  }
  &.rounded{
    border-radius: $btn-border-radius;
  }
  &.rounded{
    border-radius: $btn-border-radius;
  }
   &.disabled {
    background-color: $btn-disabled-bg;
    color: $btn-disabled-text;
    border-color: $btn-disabled-border;
    cursor: not-allowed;
  }

}